{% extends 'admin/adminbase.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title_block %}

{% endblock %}


{% block body_block %}

<div class="container">
    <h1 class="text-center mb-5">Total Customer Loan Management Application</h1>
    <div class="users">

        <table class="table table-hover table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">SL</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Picture</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.id }}</td>
                    <td>{{ user }}</td>
                    <td>
                        <img src="/media/{{ user.profile_picture }}" alt="Profile Pic" class="rounded-circle" height="40" width="40" />
                    </td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{% url 'managerApp:user_remove' user.id %}">
                            <button type="button" id="btn-confirm" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
